<ion-content>
  <div id="home" routerLink="/mycourses"><ion-icon id="home-icon" name="home" ></ion-icon></div>
  <div class="back" (click)="goBack()"><ion-icon id="icon_navback" name="arrow-back-outline" ></ion-icon></div>


<div class="request" *ngIf="cancel == 0">
<div class='title'>Do you really want to cancel your subscription?</div>


<div class='description'>Please confirm that you want to cancel your subscription. This will change your membership back to "Basic"</div>



  <div class="formblock">


<div class="buttonfields">
    <ion-button (click)="delete()" class="submit" shape="round" >End subscription</ion-button>
</div>
</div>

</div>

<div class="spinnerdiv" *ngIf="cancel == 3" ><ion-spinner  class="spinner" id="#quiz_spinner" name="bubbles"></ion-spinner></div>

<div class="success" *ngIf="cancel == 1">
  <div class='description'>Your subscription has been cancelled, but you will still have the premium membership until the end of your current billing period.</div>
</div>


  <div class="fail" *ngIf="cancel == 2">
    <div class='description'>Sorry! We encountered a technical issue... If you want to cancel your subscription, please try again later or contact our customer support. </div>
</div>
</ion-content>
