<ion-content>
  <div class='backgroundimage'>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
<img class='wave'  src="/assets/images/background.svg"/>
  </div>


<div class="request" *ngIf="cancel == 0">
<h2>Do you really want to cancel your subscription?</h2>


<div class='desciption'>Please confirm that you want to cancel your subscription. This will change your membership back to "Basic"</div>

<div class='blueline'></div>

  <div class="formblock">


<div class="buttonfields">
    <button (click)="delete()" class="submit" shape="round" >End subscription</button>
</div>
</div>

</div>


<div class="success" *ngIf="cancel == 1">
  <div class='desciption'>Your subscription has been cancelled, but you will still have the premium membership until the end of your current billing period.</div>

  <div class='blueline'></div>
  </div>

  <div class="fail" *ngIf="cancel == 2">
    <div class='desciption'>Sorry! We encountered a technical issue... If you want to cancel your subscription, please try again later or contact our customer support. </div>

    <div class='blueline'></div>
    </div>
</ion-content>
