<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="logoclass">
    <img class='logo' src="assets/images/logo2.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='headerimage'>
    <img class='conversation' src="assets/images/quiz.jpg">
    </div>

<ion-list>

  <ion-item *ngFor="let section of sections"  [routerLink]="['../../section/', section.Section_ID]">
    <ion-thumbnail slot="start">
      <ion-icon name="school" class="schoolclass"></ion-icon>
    </ion-thumbnail>
    <ion-label>
      <h2>{{section.name}}</h2>
    </ion-label>
  </ion-item>


</ion-list>

</ion-content>
