<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="logoclass">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='backgroundimage'>
    <img *ngIf="eval >= 80" class='confetti'  src="/assets/images/confetti.gif"/>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
<img class='wave'  src="/assets/images/background.svg"/>
<img  class='headerimage'  src="/assets/images/fillthegap_icon.svg"/>
</div>



<h2>{{title}}</h2>
<div class='desciption'>{{description}}</div>

<div class='blueline'></div>



<div class='quizframe' >
  <div id='scorediv'>
  <div id='score'> <b>Your score: {{eval}} </b></div>
</div>
      <div class="quizcontent" [innerHTML]="html | safe: 'html'"> </div>
      <div class="quizcontent" [innerHTML]="result | safe: 'html'"> </div>
  </div>

</ion-content>
