<ion-content>
  <div id="account" routerLink="/account"><ion-icon id="account-icon" name="person" ></ion-icon></div>
<div class="back" (click)="goBack()"><ion-icon id="icon_navback" name="arrow-back-outline"></ion-icon></div>
<div class="title">Available Courses</div>
<div class='description'>Please select a new course</div>



<div class="wrapper">
    <div class="spinnerdiv"><ion-spinner  id="spinner" *ngIf="!ready" name="bubbles"></ion-spinner></div>
  <div class="course_wrapper" *ngFor="let course of courses; let i = index">

    <div class="course"  *ngIf="validated(course.Classroom_ID)" [routerLink]="['./coursedetails', course.Classroom_ID, course.Classroom_image, course.Classroom_name, course.Classroom_description, 0]">
<div><span class="course_name">{{course.Classroom_name}}</span></div>
      <div class="course_description">{{course.Classroom_description}}</div>
      <img class='course_img'  [src]="course.Classroom_image"/>


    </div>

    <div class="course"  *ngIf="!validated(course.Classroom_ID)" [routerLink]="['./coursedetails', course.Classroom_ID, course.Classroom_image, course.Classroom_name, course.Classroom_description, 1]">
<div><span class="course_name">{{course.Classroom_name}}</span></div>
      <div class="course_description">{{course.Classroom_description}}</div>
      <img class='course_img'  [src]="course.Classroom_image"/>

    </div>


  </div>
  </div>


</ion-content>
