ion-toolbar{
  --background: transparent!important;
  position: absolute;

}

ion-menu-button{
  --color: white;
  margin-top: 20px;
}


#spinner{
  width: 400px;
  color: #008086;
  transform: scale(3);
}
.spinnerdiv{
  width: 100%;
  text-align: -webkit-center;
  position: absolute;
  top:200px;
  z-index: 2;
}

#account-icon{

  //transform: scale(2);
   font-size:34px;
  position: absolute;
  z-index: 2;
  top:35px;
  right: 35px;
  color: #1e1e1e
}


.backgroundimage{
  position: absolute;
}

.backgroundimage2{
  position: absolute;
  top:0px;
}

.field{
  color: #1e1e1e;
  //line-height: 40px;
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  //font-size: 20px;
  //line-height: 24px;

  background-color: #F0F0F0;
  height: 50px;
  margin: 2px;
  max-width: 500px;
  padding-top: 15px;
  border: 0 solid #005e68;
  border-bottom: 2px solid #008086;
  margin-bottom: 50px;
  text-align: center;
}

.field:focus{
outline:none;
}


ion-card{
  width: 90%;
  margin: 5%;
  margin-top: 10%;
  //position: relative;
  text-align: center;
  background-color: transparent;
  border-radius: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
/*
ion-card{
  width: 90%;
  margin: 5%;
  margin-top: 10%;
  //position: relative;
  text-align: center;
  background-color: #42AFB6;
  border-radius: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

*/
ion-card-header{
  color: #fff;
  padding: 0;
  font-size: 3.5vw;
}
ion-slides{
  height: 50%;
}

h2{

  text-align: center;
  //font-size: larger;
  white-space: pre-wrap;
  font-size: 20px;
  margin-top: 15px;
}

.logo{
  height: 50px;
  width: auto;
}

.logoclass{
  text-align: center;
}

.flip{
  margin-top: 100px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}
h4{
  font-size: 5vw;
}

h1{

  text-align: center;
}

ion-card-title {
    position: absolute;
    top: 37%;
    padding:5%;
    padding-top:0px;
    margin-top: 0px;
    width: 100%;
    //font-weight: bold;
    color: #fff;
  }

ion-card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 53%;
    width: 100%;
    color: #fff;
  }

#finished{

  //--background: url('https://image.freepik.com/free-vector/flat-hands-applauding-background_23-2148160625.jpg') no-repeat center/cover fixed;
  background-color: #10D398;
  --text-align: center;
  --padding-top: 40%;
  --color: white;

  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: 1000;
  font-size: 2.0em;
  font-size: 2.0em;
}

ion-item{
  --background: transparent;
  max-width: 500px;

}

ion-list{
  background: transparent;
}



ion-card-title {
  font-family:  Montserrat-Regular;
  font-style: normal;
  font-weight: 1000;
  font-size: 2.0em;
  //line-height: 40px;
    top: 37%;
    font-size: 2.0em;
    width: 100%;
    //font-weight: bold;
    color: #fff;
  }

ion-toolbar{

//  --background: rgb(29,253,220);
//  --background: linear-gradient(to top, rgba(29,253,220,1) 28%, rgba(69,116,252,1) 100%);
--background: rgb(0,168,252,1);
//--background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,168,252,1) 100%);
}

ion-back-button{
  color: white;
}

.imgstandard{
  width: 100%;
  //sheight: 215px;
}
.imgindiv{
  width: 100%;
  max-height: 40%;
  object-fit: cover;
}

ion-card-content{
   color: #fff;
}

.answ{
     //line-height: 40px;
     font-family:  Montserrat-Regular;
     font-style: normal;
     font-weight: normal;
     //font-size: 20px;
     //line-height: 24px;
     color: #1e1e1e;
     background-color: #f0f0f0;
     height: 50px;
     margin: 2px;
     max-width: 500px;
     padding-top: 15px;
}

.answcorrect{
  color: #fff;
  //line-height: 40px;
  font-family:  Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  //font-size: 20px;
  //line-height: 24px;
  color: #FFFFFF;
  background-color: #008086;
  height: 50px;
  margin: 2px;
  max-width: 500px;
  padding-top: 15px;
}

svg{
width: 100%;
max-width:500px;
}
.answerlist{

}

.answerlist{
  text-align: -webkit-center;
}

.q{
  text-align: center;
}
.qwrap{
    text-align: center;
}

.text{
    text-align: center;
}

svg.level1 #water {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -42.28794,162.3916 -847.879502,-16.36989 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: makewave1;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
svg.level2 #water {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 C 831.16718,548.7707 25.575612,370.00921 -2.6540948,402.88955 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: makewave2;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

svg.level3 #water {
  d: path("m797.16 662.91c51.507 2.3438 75.217-5.5136 76.031-40.608 0.30361-104.28-0.56082-219.66 0.32731-310.43-288.45-64.768-465.03 115.91-875.23-7.4764l0.11193 318.57c0.012333 35.103 30.91 42.777 73.356 42.621z");
  animation-name: makewave3;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

svg.level4 #water {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -87.66116,143.24454 -889.781752,-28.85515 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: makewave4;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

svg.level5 #water {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 C 873.50261,518.02738 881.74798,-3.581941 868.3852,29.852708 849.85635,69.872288 78.987361,-21.257372 1.1339773,26.584896 L -1.5951514,622.96568 c -0.092311,20.1722 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: makewave5;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

svg.level0 #rise {
  d: path("m 799.0039,662.18129 c 51.507,0.0391 37.83178,-10.59347 38.22572,-2.77822 0.30361,-1.74091 12.04094,-1.14678 17.54972,-6.02262 -288.53754,-1.06179 -418.84254,4.97461 -824.822965,1.97548 l 3.892458,2.79803 c 0.475952,0.34213 -2.694693,4.07462 39.751307,4.07201 z");
  animation-name: riselevel0, makewave1;
  animation-duration: 3s, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

svg.level1 #rise {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -42.28794,162.3916 -847.879502,-16.36989 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: riselevel1, makewave2;
  animation-duration: 3s, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

svg.level2 #rise {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 C 831.16718,548.7707 25.575612,370.00921 -2.6540948,402.88955 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: riselevel2, makewave3;
  animation-duration: 3s, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

svg.level3 #rise{
  d: path("m797.16 662.91c51.507 2.3438 75.217-5.5136 76.031-40.608 0.30361-104.28-0.56082-219.66 0.32731-310.43-288.45-64.768-465.03 115.91-875.23-7.4764l0.11193 318.57c0.012333 35.103 30.91 42.777 73.356 42.621z");
  animation-name: riselevel3, makewave4;
  animation-duration: 3s, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

svg.level4 #rise {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -87.66116,143.24454 -889.781752,-28.85515 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: riselevel4, makewave5;
  animation-duration: 3s, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
}

svg.level5 #rise {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 C 873.50261,518.02738 881.74798,-3.581941 868.3852,29.852708 849.85635,69.872288 78.987361,-21.257372 1.1339773,26.584896 L -1.5951514,622.96568 c -0.092311,20.1722 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: riselevel5;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}




svg.level1 #drop {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -42.28794,162.3916 -847.879502,-16.36989 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: droplevel1;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards, none;
}
svg.level2 #drop {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 C 831.16718,548.7707 25.575612,370.00921 -2.6540948,402.88955 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: droplevel2, makewave1;
  animation-duration: 2s, 2s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
}

svg.level3 #drop{
  d: path("m797.16 662.91c51.507 2.3438 75.217-5.5136 76.031-40.608 0.30361-104.28-0.56082-219.66 0.32731-310.43-288.45-64.768-465.03 115.91-875.23-7.4764l0.11193 318.57c0.012333 35.103 30.91 42.777 73.356 42.621z");
  animation-name: droplevel3, makewave2;
  animation-duration: 3s, 2s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
}

svg.level4 #drop {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -87.66116,143.24454 -889.781752,-28.85515 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: droplevel4, makewave3;
  animation-duration: 3s, 2s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
}

svg.level5 #drop {
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 C 873.50261,518.02738 881.74798,-3.581941 868.3852,29.852708 849.85635,69.872288 78.987361,-21.257372 1.1339773,26.584896 L -1.5951514,622.96568 c -0.092311,20.1722 16.6587504,42.82993 73.3558984,42.62089 z");
  animation-name: droplevel5, makewave4;
  animation-duration: 3s, 2s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, none;
}

@keyframes makewave1{
50%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -5.99342,-27.83258 -679.31029,127.57685 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");

}
}

@keyframes makewave2{
50%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 -34.7118,-30.80008 -600.7078,117.15965 -876.1092148,16.51045 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");

}
}



@keyframes makewave3{
50%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.56082,-219.66194 0.32731,-310.42838 C 694.2247,473.44713 160.05217,295.19478 -1.7070768,304.39967 l 0.1119254,318.56601 c 0.012333,35.10271 30.9103254,42.77738 73.3558984,42.62089 z");

}
}


@keyframes makewave4{
50%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -69.66782,-4.49027 -760.9873,171.91267 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");

}
}

@keyframes makewave5{
50%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 C 873.50261,518.02738 881.74798,-3.581941 868.3852,29.852708 828.07494,-39.034785 -18.555496,91.437773 1.1339773,26.584896 L -1.5951514,622.96568 c -0.092311,20.1722 16.6587504,42.82993 73.3558984,42.62089 z");

}
}

@keyframes riselevel0{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -42.28794,162.3916 -847.879502,-16.36989 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");
}
}

@keyframes riselevel1{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 C 831.16718,548.7707 25.575612,370.00921 -2.6540948,402.88955 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");
}
}

@keyframes riselevel2{
100%{
  d: path("m797.16 662.91c51.507 2.3438 75.217-5.5136 76.031-40.608 0.30361-104.28-0.56082-219.66 0.32731-310.43-288.45-64.768-465.03 115.91-875.23-7.4764l0.11193 318.57c0.012333 35.103 30.91 42.777 73.356 42.621z");
}
}

@keyframes riselevel3{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -87.66116,143.24454 -889.781752,-28.85515 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");
}
}

@keyframes riselevel4{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 C 873.50261,518.02738 881.74798,-3.581941 868.3852,29.852708 849.85635,69.872288 78.987361,-21.257372 1.1339773,26.584896 L -1.5951514,622.96568 c -0.092311,20.1722 16.6587504,42.82993 73.3558984,42.62089 z");
}
}

@keyframes riselevel5{
100%{
  d: path("m 797.16401,662.76267 c 51.50706,2.47462 75.21666,-5.82152 76.0311,-42.87514 C 873.50261,509.78757 889.43819,-35.821698 868.3852,-5.6468592 871.64528,-74.900625 27.719294,24.981376 1.1339773,-9.0971464 L -1.5951514,620.58564 c -0.092311,21.29862 16.6587504,45.22156 73.3558984,45.00085 z");
}
}




@keyframes droplevel1{
100%{
  d: path("m 799.0039,662.18129 c 51.507,0.0391 37.83178,-10.59347 38.22572,-2.77822 0.30361,-1.74091 12.04094,-1.14678 17.54972,-6.02262 -288.53754,-1.06179 -418.84254,4.97461 -824.822965,1.97548 l 3.892458,2.79803 c 0.475952,0.34213 -2.694693,4.07462 39.751307,4.07201 z");
}
}

@keyframes droplevel2{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 1.26591,49.92676 2.15404,-40.83968 -42.28794,162.3916 -847.879502,-16.36989 -876.10920877,16.51045 l -0.83509263,24.99042 c -0.6737155,20.16116 16.6587504,42.82993 73.3558984,42.62089 z");

}
}

@keyframes droplevel3{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.62812,-145.15895 0.26001,-235.92539 C 831.16718,548.7707 25.575612,370.00921 -2.6540948,402.88955 l 1.0589434,220.07613 c 0.097063,20.17218 16.6587504,42.82993 73.3558984,42.62089 z");
}
}

@keyframes droplevel4{
100%{
  d: path("m797.16 662.91c51.507 2.3438 75.217-5.5136 76.031-40.608 0.30361-104.28-0.56082-219.66 0.32731-310.43-288.45-64.768-465.03 115.91-875.23-7.4764l0.11193 318.57c0.012333 35.103 30.91 42.777 73.356 42.621z");
}
}

@keyframes droplevel5{
100%{
  d: path("m 797.16401,662.91209 c 51.50706,2.34375 75.21666,-5.51363 76.0311,-40.6076 0.30361,-104.27516 -0.96295,-387.56967 -0.0748,-478.33611 -87.66116,143.24454 -889.781752,-28.85515 -875.7743848,-0.90027 l 1.0589434,479.89757 c 0.044512,20.17236 16.6587504,42.82993 73.3558984,42.62089 z");
}
}


.congrats{
  position: absolute;
margin-top: 10%;
color: #008b8b;
font-family: Montserrat-Regular;
top: 150px;
text-align: -webkit-center;
width: 100%;
}

#congratsimg{
  max-width: 200px;
    margin-top: 40px;
}
