

<ion-content>




  <div class="head">
    <div id="account" routerLink="/account"><ion-icon id="account-icon" name="person" ></ion-icon></div>
  </div>

<div class="request" *ngIf="opt == 0">
<h2>Do you really want to delete your account?</h2>


<div class='description'>Please confirm that you want to delete your account. This will delete all data that is connected to your account. You will not be able to re-activate your account afterwards.
If you still want to delete your account, we will send you the instructions how to proceed via email.</div>



  <div class="formblock">


<div class="buttonfields">
    <ion-button (click)="delete()" class="submit" shape="round" >Send link</ion-button>
</div>
</div>

</div>


<div class="success" *ngIf="opt == 1">
  <div class='description'>Thank you for your request. A link has been sent to your email adress. Please follow the instructions in the email.</div>


  </div>

  <div class="fail" *ngIf="opt == 2">
    <div class='description'>Sorry! We encountered a technical issue... If you want to delete your account, please try again later or contact our customer support. </div>


    </div>

    <div class="spinnerdiv" *ngIf="opt == 3" ><ion-spinner  class="spinner" id="#quiz_spinner" name="bubbles"></ion-spinner></div>


</ion-content>
