

<ion-content>
  <div class='backgroundimage'>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
<img class='wave'  src="/assets/images/background.svg"/>
  </div>


<div class="request" *ngIf="opt == 0">
<h2>Do you really want to delete your account?</h2>


<div class='desciption'>Please confirm that you want to delete your account. This will delete all data that is connected to your account. You will not be able tore-activate your account afterwards.
If you still want to delete your account, we will send you the instructions how to proceed via email.</div>

<div class='blueline'></div>

  <div class="formblock">


<div class="buttonfields">
    <button (click)="delete()" class="submit" shape="round" >Send link</button>
</div>
</div>

</div>


<div class="success" *ngIf="opt == 1">
  <div class='desciption'>Thank you for your request. A link has been sent to your email adress. Please follow the instructions in the email.</div>

  <div class='blueline'></div>
  </div>

  <div class="fail" *ngIf="opt == 2">
    <div class='desciption'>Sorry! We encountered a technical issue... If you want to delete your account, please try again later or contact our customer support. </div>

    <div class='blueline'></div>
    </div>
</ion-content>
