ion-menu{
  --background: #005f69ff;
  --ion-text-color: white;
}

ion-content{
  --background: transparent;
}

ion-toolbar {
  --background: #005f69ff;
}

ion-list{
 background: #005f69ff;
}
ion-item{
 --background: #005f69ff;
}

ion-icon{
  color: white;
}
