ion-menu{
  --background: grey;
  --ion-text-color: white;
}

ion-content{
  --background: green;
}

ion-toolbar {
  --background: #180f95;
}

ion-list{
 background: #180f95;
}
ion-item{
 --background: #180f95;
}

ion-icon{
  color: white;
}

ion-header{
  height: 100px;
}

ion-title{
  height: 100px;
  margin-top: 20px;
  text-align: center;
}

#halfcircle{
  height:250px;
  width:100%;
  border-radius: 100% / 50%;
border-top-left-radius: 0;
border-top-right-radius: 0;
background-color: #180f95;

}
