

<ion-content>
<div class="wrapper">
<div class="title">Welcome!</div>

  <div class="formblock">
    <div class="formfields">
      <div class="emailfield">
        <div>  <label class="formdescriptions"  for="email">email</label>  </div>
          <input class="field" type="email" id="email" name="email" required />

            <div><div *ngFor="let error of errorkeys" class="fielderrors"><div *ngIf="error === 'email' || error === 'username'">{{errorobj[error]}}</div> <div *ngIf="error === 'non_field_errors'">{{errorobj[error]}}</div></div></div>


          </div>


      <div class="pwfield">
        <div><label class="formdescriptions"  for="password1">password</label></div>
        <input class="field" type="password" id="password1" name="password1" required />
          <div><span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'password'">{{errorobj[error]}}</span></span>  </div>
        </div>

      <div class="pwrepeatfield">
        <div>  <label class="formdescriptions"  for="password2">repeat password</label></div>
        <input class="field" type="password" id="password2" name="password2" required />
        <span class="fielderrors">{{pw_error}}</span>
        </div>

</div>

<div class="buttonfields">
<ion-button shape="round" color="white" class="signup" (click)="signup()">Register</ion-button>
<div class="or">or</div>
<ion-button [routerLink]="['/login']" class="login" shape="round"  color="#008B8B">Log in</ion-button>

</div>
</div>
</div>
</ion-content>
