



<ion-content>
  <div class='backgroundimage'>
<img class='wave'  src="/assets/images/background.svg"/>
</div>

  <div class="formblock">
    <div class="formfields">

      <div class="namefield">
    <input class="field" type="text"  id="first_name"  name="first_name" required />
    <label class="formdescriptions" for="first_name">display name</label>
    <span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'first_name'">{{errorobj[error]}}</span></span>
    </div>

      <div class="userfield">
    <input class="field" type="text"  id="username"  name="username" required/>
    <label class="formdescriptions" for="username">username</label>
    <span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'username'">{{errorobj[error]}}</span></span>
    </div>

    <div class="pwfield">
      <input class="field" type="password" id="password1" name="password1" required />
      <label class="formdescriptions"  for="password1">password</label>
      <span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'password'">{{errorobj[error]}}</span></span>
      </div>

    <div class="pwrepeatfield">
      <input class="field" type="password" id="password2" name="password2" required />
        <label class="formdescriptions"  for="password2">repeat password</label>
      <span class="fielderrors">{{pw_error}}</span>
      </div>

    <div class="emailfield">
        <input class="field" type="email" id="email" name="email" required />
          <label class="formdescriptions"  for="email">email</label>
          <span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'email'">{{errorobj[error]}}</span></span>
          <span *ngFor="let error of errorkeys" class="fielderrors"><span *ngIf="error === 'non_field_errors'">{{errorobj[error]}}</span></span>
        </div>




</div>


<div class="buttonfields">
    <button (click)="signup()" class="submit" shape="round" >Register</button>
        <button [routerLink]="['/login']" class="login" shape="round" >Login</button>
</div>
</div>
</ion-content>
