<!--
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="logoclass">
    <img class='logo' src="assets/images/logo2.png">
    </div>
  </ion-toolbar>
</ion-header>




<ion-content>

  <div class='headerimage'>
    <img class='conversation' src="assets/images/study.jpg">
    </div>

  <ion-grid class="buttongrid">
    <ion-row>
      <ion-col [routerLink]="['view_set']">
        <ion-card class="card1">
       <ion-icon name="cloud-upload"></ion-icon>
       <ion-card-header>
         <ion-card-title></ion-card-title>
       </ion-card-header>
       <ion-card-content>
         study
       </ion-card-content>
     </ion-card>
      </ion-col>
      <ion-col [routerLink]="['do_set']">
          <ion-card class="card1">
         <ion-icon name="cloud-download"></ion-icon>
         <ion-card-header>
           <ion-card-title></ion-card-title>
         </ion-card-header>
         <ion-card-content>
           test yourself
         </ion-card-content>
       </ion-card>
      </ion-col>
        </ion-row>
              </ion-grid>
  <ion-list>

    <ion-item *ngFor="let card of flipcardlist">
      <ion-thumbnail slot="start">
        <ion-icon name="bulb" class="bulbclass"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2 class="question">{{ card.Question }}</h2>
        <p class="answer">{{ card.Answers }}</p>
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>
 -->

 <ion-content>


   <div class='backgroundimage'>
     <ion-toolbar>
         <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
         </ion-buttons>
       <ion-title>
       </ion-title>
     </ion-toolbar>
 <img class='wave'  src="/assets/images/background.svg"/>
<img class='headerimage'  src="/assets/images/flipcard_headerimage.svg"/>
   </div>

 <h2>Flipcards</h2>


<div class='desciption'>Select if you want to study the flipcards or let the app quiz you on the flipcards</div>

 <div class='blueline'></div>

 <div id="cont" data-pct="100">
 <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
   <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
   <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
 </svg>
 </div>

<div class='content'></div>

<div class="buttonfields">
<button [routerLink]="['view_set']" class="study" shape="round" >Study</button>
<button *ngIf="progress < 100" [routerLink]="['do_set']" class="quiz" shape="round" >Quiz</button>
</div>
 </ion-content>
