  <!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Stripe for PWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        Use this Pay button in your PWA's payment page with the attached logic.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="welcome-card">
    <ion-img src="/assets/stripe.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Stripe Sample</ion-card-title>
      <ion-row>
        <ion-col>Total Payment</ion-col>
        <ion-col> {{currencyIcon}}{{paymentAmount}} </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element"> </div>
          //Used to display Element errors
          <div id="card-errors" role="alert"></div>
        </div>
        <ion-button type="submit" color="success" expand="full">Make Payment</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
-->



<ion-content>


<div id="account" routerLink="/account"><ion-icon id="account-icon" name="person" ></ion-icon></div>


<div class="title">{{product_name}}</div>
<div class="accountwrapper" *ngIf="polling === 0">



         <div class="amount_descr"> <span class="join">Amount</span> </div>
         <div class="amount"> {{price}} {{currency_symbol}} </div>
         <div class="amount_descr"> <span class="join">VAT {{tax}}%</span> </div>
         <div class="amount"> {{tax_amount}} {{currency_symbol}} </div>
         <div class="amount_descr"> <span class="total_amount_descr">Total amount </span> </div>
         <div class="total_amount"> {{total_amount}} {{currency_symbol}} </div>




</div>
<div class="spinnerdiv" *ngIf="waiting" ><ion-spinner  class="spinner" id="#quiz_spinner" name="bubbles"></ion-spinner></div>
<div class="spinnerdiv" *ngIf="paymentwaiting" ><ion-spinner  class="spinner" id="#quiz_spinner" name="bubbles"></ion-spinner></div>

        <div *ngIf="polling === 3" >
          <div class="status">{{paymentstatus_info}}</div>
            </div>

            <div *ngIf="polling === 4" class="timeout" >
              <div class="status">It is possible that your payment has timed out. Check your membership and if neccessary try to upgrade again.</div>
                <ion-button (click)="reload()">back</ion-button>
                </div>


                <div class="buttonfields">
                  <ion-button *ngIf="polling === 0 && paymentstatus === 0" (click)="openBlank()" shape="round" class="submit" >Proceed to payment</ion-button>

                </div>








</ion-content>
