<!--
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
<div class="logoclass">
<img class='logo' src="assets/images/logo2.png">
</div>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div class='headerimage'>
    <img class='lessonimage' [src]="lessonImage">
    </div>

    <div class='headertitle'>
      <h2> {{ lessonName }} </h2>
        </div>

        <div class='headerdescription'>
          {{ lessonDescription }}
          </div>

  <ion-grid class="maingrid">


  <ion-list>

    <ion-item *ngFor="let section of sections"  [routerLink]="['../../../../../../learn/', lessonId, 'section', section.Section_ID]">
      <ion-thumbnail slot="start">
        <ion-icon name="school" class="schoolclass"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{section.name}}</h2>
      </ion-label>
    </ion-item>
    <ion-item  *ngIf="flipcardlist?.length > 0" [routerLink]="['../../../../../../study/', lessonId]">
      <ion-thumbnail slot="start">
        <ion-icon name="clipboard" class="schoolclass"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>Flipcards</h2>
        <h5><i>{{flipcardlist?.length}} cards</i></h5>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let quiz of exercises"  [routerLink]="['../../../../../../quiz/', lessonId, 'do_quiz', quiz.ID]">
      <ion-thumbnail slot="start">
        <ion-icon name="create" class="createclass"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{quiz.Title}}</h2>
        <h5><i>{{quiz.Description}}</i></h5>
      </ion-label>
    </ion-item>
  </ion-list>

  </ion-grid>


</ion-content>

 -->

 <ion-header style="background-color: #001124;">
   <div class="header">
     <ion-progress-bar id="prog" value="{{overallprogress}}"></ion-progress-bar>
     </div>
 </ion-header>

 <ion-content>
   <div class='backgroundimage'>
     <ion-toolbar>
         <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
         </ion-buttons>
       <ion-title>
       </ion-title>
     </ion-toolbar>
 <img class='wave'  src="/assets/images/background.svg"/>

   </div>

 <h2>{{ lessonName }}</h2>
<div class='desciption' [innerHTML]="lessonDescription | safe: 'html'"></div>

 <div class='blueline'></div>

<div class='content'></div>
<div class="wrapper">
  <div class="boxwrapper" *ngFor="let section of sections; let i = index">

    <div class="box" [routerLink]="['../../../../../../learn/', lessonId, 'section', section.Section_ID]" >
      <span class="boxname">{{section.name}}</span>
      <span class="premium" *ngIf="section.Subscrmodel === 1">(Premium)</span>
      <img *ngIf="sections_done[section.Section_ID] === 0" class='icon'  src="/assets/images/043-location.svg"/>
      <img *ngIf="sections_done[section.Section_ID] === 1" class='icon'  src="/assets/images/043-location.svg"/>

  </div> </div>
  <div class="boxwrapper"  *ngIf="flipcardlist?.length > 0"> <div class="box" [routerLink]="['../../../../../../study/', lessonId]" ><span class="boxname">Flipcards</span><img *ngIf="!flipdone" class='icon'  src="/assets/images/043-location.svg"/><img *ngIf="flipdone" class='icon'  src="/assets/images/043-location.svg"/></div></div>
  <div class="boxwrapper" *ngFor="let quiz of exercises; let i = index" >


    <div *ngIf="(quiz.Type === 8) && quiz.Evaluation <= -100"  class="box"  [ngStyle]="{'background-color': '#d3d3d3'}">
    <span class="prc">please wait for evaluation</span>
  </div>
  <div *ngIf="(quiz.Type === 8) && quiz.Evaluation >= 0"  class="box"  [routerLink]="['../../../../../../quiz/', lessonId, quiz.EvaluationID]"  [ngStyle]="{'background-color': getColor2(i%4)}">
  <span class="prc">{{quiz.Evaluation |  number:'1.0-0'}}%</span>
</div>
<div *ngIf="(quiz.Type === 8) && quiz.Evaluation === -1"  class="box"  [routerLink]="['../../../../../../quiz/', lessonId, 'do_quiz', quiz.ID]"  [ngStyle]="{'background-color': getColor2(i%4)}">
<span class="prc"></span>
</div>

    <div *ngIf="(quiz.Type !== 8)" class="box" [routerLink]="['../../../../../../quiz/', lessonId, 'do_quiz', quiz.ID]" [ngStyle]="{'background-color': getColor2(i%4)}">
<span class="boxname">{{quiz.Title}}</span>
<span class="premium" *ngIf="quiz.Subscrmodel === 1">(Premium)</span>
    <img  *ngIf="(quiz.Type === 1 || quiz.Type === 2) && quiz.Evaluation < 80" class='icon'  src="/assets/images/043-location.svg"/>
    <img  *ngIf="(quiz.Type === 1 || quiz.Type === 2) && quiz.Evaluation >= 80" class='icon'  src="/assets/images/043-location.svg"/>

    <img  *ngIf="quiz.Type === 6 && quiz.Evaluation < 80" class='icon'  src="/assets/images/043-location.svg"/>
    <img  *ngIf="quiz.Type === 6 && quiz.Evaluation >= 80" class='icon'  src="/assets/images/043-location.svg"/>

    <img  *ngIf="quiz.Type === 3" class='icon'  src="/assets/images/container_qa.svg"/>


    <img  *ngIf="quiz.Type === 7  && quiz.Evaluation < 80" class='icon'  src="/assets/images/043-location.svg"/>
    <img  *ngIf="quiz.Type === 7 && quiz.Evaluation >= 80" class='icon'  src="/assets/images/043-location.svg"/>
    <span *ngIf="quiz.Evaluation >= 0"class="prc">{{quiz.Evaluation |  number:'1.0-0'}}%</span>
  </div>

  </div>

</div>


 </ion-content>

<!--
 <ion-footer style="background-color: #001124;">
   <div class="footer">
     <ion-progress-bar id="prog" value="{{overallprogress}}"></ion-progress-bar>
     </div>
 </ion-footer>
 -->
