

ion-content{

//  --background: rgb(29,253,220);
//  --background: linear-gradient(to top, rgba(29,253,220,1) 28%, rgba(69,116,252,1) 100%);
--background: #001124;



}

ion-slides{
  margin-left: 5%;
}

ion-slide{
  //margin-right: 5%!important;
  padding-right: 20px;
}


h2{
position: absolute;
width: 90%;
top:40px;
top:10%;
//height: 72px;
//padding-top: 20%;
padding-left: 5%;
margin-top:0px;


  font-family: Avenir Next LT Pro;
  font-style: normal;
  //font-weight: 600;
  font-size: 32px;
    font-size: 7vw;
  line-height: 7vw;
  /* or 125% */

  display: flex;
  //align-items: center;

  color: #FFFFFF;
}

ion-slide{

  //height: '-webkit-fill-available'!important;
}



.lessonitem{

//  background: linear-gradient(180deg, rgba(18, 20, 33, 0) 50%, rgba(18, 20, 33, 0.5) 100%);
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  display: inline-block;
  //margin: 15px 12px;
  //position: relative;
  top:5%;
  //height: 200px;
  //width: 500px;
  width: 100%;
  height: 55vw;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 100%;
  margin-top: 2vw;
}
.overlay{

  background: linear-gradient(180deg, rgba(18, 20, 33, 0) 50%, rgba(18, 20, 33, 0.5) 100%);
  height: 55vw;
  width:100%;
  position: absolute;
  //top: 0;
  right:0;
}
.name{
  font-family: Avenir Next LT Pro;
  position: absolute;
  //margin-top: 150px;
  bottom: 10%;
  margin-left: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 4vw;
  color: #FFFFFF;

}

.desciption{
  font-family: Avenir Next LT Pro;
  position: absolute;
  width: 90%;
  left: 0px;
  top: 65vw;
  margin-right: 10px;
text-align: left;
font-style: normal;
font-weight: normal;
font-size: 14px;
font-size: 4vw;
line-height: 24px;
line-height: 6vw;
/* or 171% */
color: #FFFFFF;
}

.blueline{
  position: absolute;
  width: 40px;
  height: 0.3%;
  left: 5%;
  //bottom: 35%;
  top: 110vw;
  background-color: #4A80F0;
  margin-top: 10px;

}
