
<!--
  <ion-slides *ngIf="didInit" loop="true" [options]="sliderConfig" style="//height: -webkit-fill-available !important;">

         <ion-slide *ngFor="let lesson of lessons; let i = index" >





           <div class='lessonitem'  [ngStyle]="{'background-image': 'url(' + lesson.Lesson_image + ')'}" [routerLink]="['./', lesson.Lessons_ID, lesson.Lesson_image, lesson.Lesson_name, lesson.Lesson_description, 'overview']">
              <div class='overlay'>



  <div class='desciption' [innerHTML]="lesson.Lesson_description | safe: 'html'">

</div>

<h3 class='name'>{{lesson.Lesson_name}}</h3>

  </div>
             </div>

<div class="progresscircle">
  <div class='prog_prc'>{{lessonprogress[lesson.Lessons_ID]*100 |  number:'1.0-0'}}%</div>
             <svg>
                      <circle cx="70" cy="70" r="70" style=" stroke: grey;"></circle>
                      <circle cx="70" cy="70" r="70" style="stroke-dashoffset:calc(440 - (440 * {{lessonprogress[lesson.Lessons_ID]*100 |  number:'1.0-0'}} ) / 100); stroke: #180f95;"></circle>
             </svg>

 </div>
      <div class="bullets">
   <div *ngFor="let lesson of lessons; let j = index" class='greyline' style="width:calc(var(--imgsize)  / {{lessons?.length}} / 2 ); left:calc(15% + ({{j}}*(var(--imgsize) / {{lessons?.length}} / 2) + (5px*{{j}})); "></div>
  <div class='blueline'  style="width:calc( var(--imgsize) / {{lessons?.length}} / 2); left:calc(15% + ( {{i}}*(var(--imgsize) / {{lessons?.length}} / 2) + (5px*{{i}}));"></div>
</div>
         </ion-slide>

  </ion-slides>

    -->
<ion-content>



    <div id="account" routerLink="/account"><ion-icon id="account-icon" name="person" ></ion-icon></div>
<div id="home" routerLink="/mycourses"><ion-icon id="home-icon" name="home" ></ion-icon></div>
    <div class="title">{{Classroom_name}}</div>
    <div class='description'>{{Classroom_description}}</div>






<div class='content'></div>
<div class="wrapper">
  <div class="spinnerdiv"><ion-spinner  id="spinner" *ngIf="!ready" name="bubbles"></ion-spinner></div>
  <div class="lesson_wrapper" *ngFor="let lesson of lessons; let i = index">

    <div class="lesson" >
<div><span class="lesson_name">{{lesson.Lesson_name}}</span><object  class="lesson_done_icon" *ngIf="lessonprogress[lesson.Lessons_ID] === 1" type="image/svg+xml" data="/assets/images/done2.svg"></object></div>
      <div class="lesson_description">{{lesson.Lesson_description}}</div>



<ion-button shape="round" color="white" class="enterlesson" [routerLink]="['./', lesson.Lessons_ID, lesson.Lesson_image, lesson.Lesson_name, lesson.Lesson_description, 'overview']">study</ion-button>
<div>  <img class='lesson_img'  [src]="lesson.Lesson_image"/></div>
  </div>
  </div>
  </div>


</ion-content>
